@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --accent: #F97316;
  --gray: #737373;
  --gray-light: #616161;
}

.dark {
  --background: #141414;
  --foreground: #fafafa;
  --accent: #F97316;
  --gray: #d4d4d4;
  --gray-light: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-mono);
  --font-mono: var(--font-roboto-mono);
  --color-accent: var(--accent);
  --color-gray: var(--gray);
  --color-gray-light: var(--gray-light);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono), monospace;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* nprogress loading bar styling */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--accent) !important;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--accent), 0 0 5px var(--accent) !important;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
